<div class="sidebar__container" *ngIf="filterField$ | async as supplier">
  <mat-form-field appearance="fill">
    <mat-label class="sidebar__filter-label">Filter by supplier</mat-label>
    <mat-select
      class="sidebar__form--control"
      (selectionChange)="optionSupplierSelected($any($event.value))"
    >
      <mat-option value="0">- All categories -</mat-option>
      <mat-option
        *ngFor="let supplierItem of filterField$ | async as suppliers"
        [value]="supplierItem.id"
      >
        {{ supplierItem.supplier_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


<form #sliderForm="ngForm">
  <mat-slider (input)="onFilterChange()" [(ngModel)]="sliderFilter">
    <input value="1" matSliderStartThumb>
    <input value="200" matSliderEndThumb>
  </mat-slider>
</form>

<div class="font-primary">Ade:{{sliderFilter}}</div>
