.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 800px;
  width: 1000px;
  margin: auto
}
.view__image {
  margin: auto;
  padding: var(--padding-lg);
  width: 360px;
}
.view__left-column {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.view__right-column {
  grid-column: 2/3;
  margin: auto;
}

.view__product {

}
.view__product--name {
  margin-top: var(--margin-xlg);

}

.view__product--description {
  opacity: var(--opacity-sm);
}
.view__product-label-h4 {
  margin-top: var(--margin-xsm);
  padding-top: var(--padding-xsm);
  text-transform: capitalize;
  opacity: var(--opacity-xsm);
}

.view__product-label-h5 {
  text-transform: capitalize;
  opacity: var(--opacity-md);
}
.view__button-group {
  margin-top: var(--margin-xsm);
  text-align: start;
}
.view__button {
  margin-top: var(--margin-xsm);
}
