.cart__items-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30px 30px 30px 30px;
  grid-template-areas:
    "product-image product-name"
    "product-image quantity-price-label"
    "product-image quantity-label"
    "product-image remove-from-card";
  margin: 40px auto 40px;
  padding: 30px;
  height: 160px;
  width: 700px;
  border-radius: var(--border-radius-sm);
}

.cart__product-image {
  grid-area: product-image;
  margin: var(--margin-sm);
}

.cart__label-wrapper {
  grid-area: product-name;
}

.cart__quantity-label {
  grid-area: quantity-label;
}

.cart__card_price-amount {
  font-size: 28px;
  position: absolute;
  right: 4rem;
  bottom: 4.2rem;
}

.cart__remove-product {
  grid-area: remove-from-card;
}

.cart__remove-button {
  margin: var(--margin-md);
  position: relative;
}

.cart__wishlist-button {
  margin: var(--margin-md);
  position: relative;
}
