.product-grid__container {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  margin: var(--margin-lg)
}

.product-grid__sidebar--left {
  margin: 0 20px 20px 0;
  grid-column: 1/2;
  padding: 20px;
}

.product-grid__container-main {
  grid-column: 2/3;
}

.product-grid__sidebar--right {
  grid-column: 3/4;
}

@media (max-width: 599px) {
  .product-grid__sidebar--right {
    grid-column: 3/4;
    display: none;
  }
  .product-grid__sidebar--left {
    margin: 0 20px 20px 0;
    grid-column: 1/2;
    padding: 20px;
    display: none;
  }
}

.product-grid__product--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 100vh;
  gap: 10px;
}

.product-grid__search--container {
  margin: var(--margin-md);
}

.product-grid__product--card {
  margin-bottom: 20px;
}

.product-grid__navigation {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: var(--margin-md);
  padding: var(--padding-md);
  height: 90px;
}

.product-grid__button {
  height: 50px;
  margin-left: 10px;
}

.product-grid__icon {
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 26px;
}

@media only screen and (max-width: 900px) {

  .product-grid__sidebar--left {
    display: none;
  }

  .product-grid__sidebar--right {
    display: none;
  }
}
