<div class="container">
  <div class="landing__image">
    <div class="landing__image-title font-primary">
      Welcome!
    </div>
  </div>
  <div class="landing__grid">
    <div class="landing__grid-top">
      <mat-card class="landing__grid-top-left landing__float-center">
        <button mat-raised-button class="button__primary"
                routerLink="/products">Shop Now
        </button>
      </mat-card>
      <mat-card class="landing__grid-top-middle landing__float-center">

      </mat-card>
      <mat-card class="landing__grid-top-right landing__float-center">
        <button mat-raised-button class="button__primary"
                routerLink="/blog">Explore Recipes
        </button>
      </mat-card>
    </div>
    <div class="landing__grid-bottom">
      <app-category></app-category>
      <div class="landing__label">Explore Our Store!</div>
      <app-product-card></app-product-card>
    </div>
  </div>
</div>
